*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    /* 取消下划线 */
    text-decoration: none;
}

html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    /* 1rem=16px */
    height: 4.4rem;
    background-color: #00bfff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.header div{
    /* 115\50 */
    width: 5.75rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    color: #fff;
}
/* .header div:nth-child(){一样的效果} */
.header-one{
    /* 上右下左  顺时针 */
    border-radius: 1.25rem 0 0 1.25rem;
  
    background-color: #41cfff;
}

.header-two{
    border-radius: 0 1.25rem 1.25rem 0;
    background-color: #afe9fc;
}








.main{
    flex: 1px;
    overflow: auto;
}


.list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}

.item{
    /* height: 375px; */
    width: 100%;
    height: 31rem;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #f1f1f1;
    /* border: 1px solid #e5e5e5; */
    margin-bottom: 0.5rem;

    
    /* padding: 15px 15px; */
    
    
    
    
}


img{
    height: 100%;
    width: 100%;
}

.main-one{
    width: 100%;
    overflow: hidden;
    display: flex;
    
    /* flex-direction: row; */
    
    
}


.xiao{
    line-height: 2.5rem;
    width: 100%;
    display: flex;
    padding: 0px 10px;
}
.zi{
    padding: 22px 0px;
    height: 68px;
    width: 135px;

}
/* .zi img{
    width: 50%;
    

} */


.ok{
    width: 50%;
    flex-direction: row;
    display: flex;
}
.ok .o{
    margin: 0px 10px;
}

.ok img{
    margin: 3px;
}

.fu1{
    /* padding: 10px; */
    width: 33.33%;
    /* border: 1px solid red; */
    border-radius: 50%;
    overflow: hidden;
    padding: 10px;
}
.main-one1{
    border-radius: 2.75rem 2.75rem;
    display: flex;
    flex-direction: column;
    /* width: 33.33%; */
    overflow: hidden;

}



.main-two{
    float: left;
    padding: 10px;
    float: left;
}




.main-three{
    width: 23rem;
    height: 20rem;

}
/* span{
    text-indent: 10px;
   
} */


.main-three1{
    padding: 5px;
    text-indent: 20px;
    padding: 10px;
    
}



@media all and (max-width:320px){
    html{
        font-size: 10px;
    }
}

@media all and(min-width:321px) and (max-width:375px){
    html{
        font-size: 12px;
    }
}
@media all and(min-width:376px){
    html{
        font-size: 14px;
    }
}
.footer{
    height:4.4rem;
    padding:0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d6d6d6;
    
}
.actived-btn{
    color: #00bfff !important;
}
.fu{
    width: 4rem;
    height: 4rem;
    border:1px solid #d6d6d6;
    border-radius: 2.625rem;
    position: relative;
    bottom: 5px;
}
.footer .xiangji span{
    font-size: 3rem;
}
